/* src/styles/Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pageButton {
    padding: 8px 16px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  