/* General table container */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

/* Table styling */
.user-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  background-color: #fff;
}

/* Table header styling */
.user-table thead {
  background-color: #154152;
  color: white;
}

.user-table th {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Table body styling */
.user-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* .user-table tr:hover {
  background-color: #f9f9f9;
} */

/* Buttons styling */
.btn {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 4 0px;
  width: 110px;
}

.edit-btn {
  background-color: #ffc107;
  color: #fff;
  margin-right: 5px;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .user-table th,
  .user-table td {
    font-size: 12px;
    padding: 10px;
  }

  .btn {
    font-size: 10px;
    padding: 4px 8px;
    
  }
}

/* Responsive design for smaller mobile devices */
@media (max-width: 480px) {
  .user-table th,
  .user-table td {
    font-size: 11px;
    padding: 8px;
  }

  .btn {
    font-size: 9px;
    padding: 3px 6px;
    margin-bottom: 10px;
    height: 20px;
    width: 80px;
  }
}
